main section:first-child div > img{
    width: 500px;
    height: 300px;
}

main section:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px 100px 0px;
}

main section:first-child div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 400ms;
    gap: 25px;
}

main section:first-child div p,h1{
    margin: 0;
    color: white;
}

main section:first-child div a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 40%;
    border: 2px solid #439592;
    text-decoration: dashed;
    color: #439592;
    border-radius: 10px;
}

main section:first-child div a:hover{
    text-decoration: underline;
}

main section:first-child div:hover{
    opacity: 1;
    transform: scale(1.05);
}

main section div img{
    width: 70vb;
    height: 45vh;
    border-radius: 20px;
}

main section:last-child div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 90px 0px 90px 0px;
}

main section:last-child div p, #text{
    flex-basis: 700px;
}

main section:last-child div p, li{
    color: white;
    font-size: 20px;
}

#text{
    display: block;
}

@media screen and (max-width: 1000px) {
    main section:last-child div{
        flex-direction: column;
        align-items: center;
    }
    main section:last-child div p, #text{
        flex-basis: 500px;
    }

}

@media screen and (max-width: 1400px) {
    main section:first-child{
        flex-direction: column;
        gap: 100px;
    }

}



@media screen and (max-width: 800px) {
    main section:last-child div p, #text{
        flex-basis: 400px;
    }
    main section div img{
        width: 40vb;
        height: 25vh;
        border-radius: 20px;
    }

}