main section:first-child div > img{
    width: 500px;
    height: 300px;
}

main{
    margin-top: 40px;
}

main section:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main section:first-child div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 400ms;
    gap: 25px;
}

main section:first-child div p,h1{
    margin: 0;
    color: white;
}

main div a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 40%;
    border: 2px solid #439592;
    text-decoration: dashed;
    color: #439592;
}

main section:first-child div:hover{
    opacity: 1;
    transform: scale(1.05);
}