:root{
    --color-blue-policy: #439592;
    --backGround-color: #0a1930;
}

/* Partie header */
body{
    background-color: var(--backGround-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

h1,p,h2,a,li{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

header{
    padding: 20px;
}

header nav ul li span, header nav p{
    color: var(--color-blue-policy);
    margin: 0;
}

.btn-nav ul li{
    transition: 400ms;
}

.btn-nav ul li:hover{
    transform: scale(1.10);
}

.btn-nav ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 20px;
    padding-right: 10px;
}

header nav ul{
    list-style-type: none;
}

header a{
    color: white;
    text-decoration: dashed;
    font-size: 18px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

/* Partie FOOTER */
footer, .references{
    display: flex;
}

footer{
    justify-content: space-between;
    margin: 10px;
}

footer p{
    color: white;
}

.references{
    gap: 30px;
}

footer .references img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

footer #logoIUT2{
    height: 60px;
    width: 90px;
}