main > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px 80px 0px;
}

main div aside:first-child{
    flex-basis: 500px;
    flex-shrink: 1;
    align-items: center;
    border-radius: 15px;
}

#form-contact{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form-contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#les_boutons{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 400px;
}

#form-contact form textarea{
    max-height: 60px;
    max-width: 250px;
}

main div aside ul{
    list-style: none;
}

main div aside ul li{
    padding: 10px;
    color: white;
    font-size: 20px;
}

main div aside button{
    width: 30%;
    height: 45px;
    background-color: #0a1930;
    border: 3px solid #6db7c7;
    border-radius: 10px;
    color: white;
    transition: 300ms;
}

#contact{
    margin: 30px 0px 30px 65px;
}

main div aside button:hover{
    transform: scale(1.10);
    text-decoration: underline;
}

#form-contact label{
    color: #6db7c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main div aside + aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Moi/image-chantier.jpg);
    background-size: contain;
    width: 70%;
}