.img-projet{
    width: 100%;
    height: 400px;
    background-image: url(../img/Prog/n-1148820-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-projet h1{
    font-size: 60px;
    color: #2efc5a;
    opacity: 0.7;
}

.text-projet li,p{
    font-size: 19px;
}

main{
    margin: 30px 0px 0px 0px;
}

.text-projet{
    width: 900px;
    text-align: justify;
}

.text-projet p,li {
    color: white;
}

section{
    margin: 60px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-text{
    margin-left: 50px;
}

#img_mach_learning{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#img_mach_learning output{
    width: 30px;
    color: #52ac58;
    writing-mode: vertical-rl;
    text-align: center;
}

section img{
    width: 700px;
    height: 500px;
}

#link-projet{
    margin: 80px 0px 80px 0px;
    display: flex;
    justify-content: space-around;
}

#link-projet div > img {
    width: 120px;
    height: 100px;
}

#link-projet div a{
    font-size: 20px;
    text-decoration: dashed;
    color: white;
}

#link-projet div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border: 4px solid #419290;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    .descr-all{
        display: flex;
        flex-direction: column;
    }

    section{
        flex-direction: column;
    }
}

