.img-projet{
    width: 100%;
    height: 400px;
    background-image: url(../img/Prog/n-1148820-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-projet h1{
    font-size: 60px;
    color: #2efc5a;
    opacity: 0.7;
}

.text-projet li,p{
    font-size: 19px;
}

.text-projet{
    flex-basis: 900px;
    text-align: justify;
}

.text-projet p,li, .descr-all section > p {
    color: white;
}

/* Couleur pour les liens dans le texte */
p a {
    color: gray;
}

section{
    margin: 60px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

section:last-child{
    flex-wrap: wrap-reverse;
}

.tab-text{
    margin-left: 50px;
}

#img_mach_learning{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#img_mach_learning output{
    width: 30px;
    color: #52ac58;
    writing-mode: vertical-rl;
    text-align: center;
}

#img_mach_learning img, #img-nettoyage{
    width: 700px;
    height: 500px;
}

.link-projet{
    display: flex;
    justify-content: space-around;
}

.link-projet div a{
    font-size: 20px;
    text-decoration: dashed;
    color: white;
}

.link-projet div a:hover{
    text-decoration: underline;
}

.link-projet #link-class, #link-sys{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5px;
    border: 4px solid #419290;
    border-radius: 20px;
}

.link-projet img, #link-sys img{
    height: 80px;
}

#link-sys, #link-class{
    width: 300px;
    height: 100px;
}

@media screen and (max-width: 1200px) {
    .descr-all{
        display: flex;
        flex-direction: column;
    }

    section{
        flex-direction: column;
    }
}

